h1{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	text-align: center;

}

h2{ 
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	text-align: center;
}

p{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	text-align: center;
}

#title-bar ul{
	margin: 0;
	list-style-type: none;
	padding: 0;
}

#title-bar li{
	display:inline-block;
}
