body{
	background-image: url("background.jpg");
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h1{
	text-align: center;
	color: #224F75;
	font-weight: bold;
	font-size: 50px;
}

h2{ 
	text-align: center;
	color: #224F75
}

p{
	text-align: center;
	color: #083154;
	padding: 0px 50px 0px;
}

#title-bar ul{
	margin: 0;
	list-style-type: none;
	padding: 0;
	background: #224F75;
	opacity: 0.5;
}

#title-bar li{
	display:inline-block;
	color:white;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-weight: bold;
	padding: 10px 10px 10px 10px;
	font-size: 17px;
}

.content-page img{
	padding-top: 75px
}

#main-page p{
	padding: 25px 50px 10px;
	font-size: 25px;
	font-style: italic;
}

a:link {
    color: white;
    text-decoration: none;
}
a:visited {
    color: white;
    text-decoration: none;
}
a:hover {
    color: #88b2fe;
    font-style: italic;
    text-decoration: none;
}